DB_NAME=retrodoc
DB_USER=retrodoc_user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432
SECRET_KEY=kljkhjlkfdjh;p'lfdjhkjhgl;kgdhfglkjdkl
DEBUG=1


EMAIL_HOST_USER=lesliecheghe4@gmail.com
EMAIL_HOST_PASSWORD=ptgz oprp eoqa xnky